@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bitter', serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.navbar {
    background-color: #1f2937;
    font-weight: 700;
    color: #f9faf8;
    height: 76px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 8px;
}

.logo {
    font-size: 2.2em;
    font-weight: 900;
}

ul.nav {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.nav a {
    color: #f9faf8;
    text-decoration: none;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
}

header .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 72px;
    padding: 72px 8px;
}

h1 {
    font-size: 3.6em;
}

header p {
    font-size: 1.2em;
    line-height: 1.4em;
}

header img {
    max-width: 500px;
}

header figcaption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

header figcaption a {
    color: #f9faf8;
    font-size: inherit;
}

header button {
    background-color: #1ea650;
    color: #f9faf8;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

button:hover {
    cursor: pointer;
}

.about {
    text-align: center;
    color: #1f2937;
    padding: 36px 8px;
}

.about > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.about > div > div {
    flex: 0 0 150px;
}

.about .icon {
    border: 10px solid #1ea650;
    border-radius: 8px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 76px;
    font-weight: 900;
    color: #1ea650;
    margin-top: 16px;
}

.about .description {
    margin-top: 8px;
    font-size: 0.9em;
    line-height: 1.5em;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 8px;
    max-width: 600px;
}

.quote blockquote {
    font-size: 2.4em;
    font-weight: 300;
    font-style: italic;
}

.quote figcaption {
    text-align: right;
    font-size: 1.2em;
    font-weight: 600;
}

.action .container {
    max-width: 800px;
    background-color: #1ea650;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    gap: 72px;
    font-size: 1.2em;
    line-height: 1.4em;
    color:#f9faf8;
    padding: 48px 36px;
    margin: 72px auto;
}

.action h2 {
    font-size: 1.8em;
}

.action button {
    color: #f9faf8;
    background-color: #1ea650;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    font-weight: 700;
    padding: 8px 16px;
    align-self: center;
}

.action button:hover {
    background-color: #f9faf8;
    color: #1ea650;
}

footer {
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
    padding: 36px 8px;
}

footer a {
    color : #f9faf8;
}